// theme colors
$st: #ED1C24;
$st-lighter: #FF671F;

$nd: #00AEC7;
$nd-lighter: #56CFE0;

$rd: #FFAF00;

$main: #EB6719;

$black: #000;
$white: #fff;

// validate
$success  : #5CC689;
$danger   : #ED1C24;
$warning  : #ffa500;
$info     : #17a2b8;

// text colors
$text-dark : #111111;
$text-light: #fff;
$text-grey: #999999;
$text-disabled: #999999;

// error
$error: #ED1C24;

// background
$bg-light: #f4f4f4;
$bg-dark : #393B40;
$bg-grey: #999999;

// fonts
$gutter: 10px;

// item
$item-dark-color: #000;

// responsive
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;


// form
$border: #aaa;
$border-light: #CACACA;
$border-input: #f5f5f5;
$bg-input: #f5f5f5;
$bg-block: #f5f5f5;

$slider-bg: #E4E6EA;

// responsive break-point
$mobile-breakpoint-begin : 320px;
$mobile-breakpoint-end   : 767px;
$tablet-breakpoint-begin : 768px;
$tablet-breakpoint-end   : 1024px;
$desktop-breakpoint-begin: 1025px;
$desktop-breakpoint-end  : 4000px;
